body {
    overflow-x:hidden;
  }

  .button-edit{
    padding:5px;
    text-align: center;
    background-color: #474544;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    color:white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}