<div class="container">
    <div class="row box" style="padding: 30px; font-size: 12px; text-align: justify;">
        <h3>O systemie "Source All"</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at est mauris. Suspendisse posuere lectus eu mauris condimentum fermentum. Cras non eleifend mi. Aliquam et faucibus tortor, sed iaculis eros. Fusce bibendum gravida ullamcorper. Mauris nulla nisi, congue sit amet sem sit amet, rutrum laoreet sapien. Proin eget tellus vel eros scelerisque ultricies non at lectus. Curabitur iaculis sodales efficitur. Suspendisse egestas rhoncus orci sed congue.
    </div>
    <div class="row box">
        <div class="col-12" style="text-align: center; margin-bottom: 20px; font-weight: 600;">
            "Source All" - dane ogólne
        </div>
        <div class="col-sm-12 col-md-6" style="font-size: 12px;">
            <table style="margin-top: 20px;">
                <tr>
                    <th>Baza</th>
                    <th>Liczba</th>
                </tr>
                <tr>
                    <td> Liczba dawców </td>
                    <td> {{countDonors}} </td>
                <tr>
                    <td> Liczba kobiet </td>
                    <td> {{listGender[0]}}</td>
                <tr>
                    <td> Liczba mężczyzn </td>
                    <td> {{listGender[1]}} </td>
            </table>

            <table style="margin-top: 20px; margin-bottom: 20px;">
                <tr>
                    <th>Symbol</th>
                    <th>Płeć</th>
                </tr>
                <tr>
                    <td style="text-align: center;"> <i class="icon-user-female" style="font-size: 20px;"></i> </td>
                    <td> Kobieta </td>
                <tr>
                    <td style="text-align: center;"> <i class="icon-user-male" style="font-size: 20px;"></i> </td>
                    <td> Mężczyzna </td>
            </table>
        </div>
        <div class="col-sm-12 col-md-6" style="font-size: 12px;">
            <table>
                <tr>
                    <th>Grupa krwi</th>
                    <th>Ilość dawców</th>
                </tr>
                <tr>
                    <td> 0- </td>
                    <td> {{listGroup[0]}} </td>
                <tr>
                    <td> 0+ </td>
                    <td> {{listGroup[1]}} </td>
                <tr>
                    <td> A- </td>
                    <td> {{listGroup[2]}}</td>
                <tr>
                    <td> A+ </td>
                    <td> {{listGroup[3]}}</td>
                <tr>
                    <td> B- </td>
                    <td> {{listGroup[4]}} </td>
                <tr>
                    <td> B+ </td>
                    <td> {{listGroup[5]}} </td>
                <tr>
                    <td> AB- </td>
                    <td> {{listGroup[6]}} </td>
                <tr>
                    <td> AB+ </td>
                    <td> {{listGroup[7]}} </td>
            </table>
        </div>




    </div>
</div>