.container{
    background-color: rgb(255,247,245);
    color: #474544;
    letter-spacing:1px;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding:50px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom:5px;
    padding-bottom: 5px;
}

table{
    padding:10px;
    border: solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

table td, th {
    border: solid rgba(53, 52, 51, 0.1);
    border-radius: 25px;
    padding:5px;
}

.box{
    border: solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding:15px;
    margin-bottom: 20px;
}

h3{
    text-align: center;
}