<div class="container">
     <div class="row">
         <div class="col-sm-3 row-style" style="cursor:pointer;" [routerLink]="['/donator', donator.id]">{{donator.name}} {{donator.lastname}}</div>
         <div class="col-sm-3 row-style">{{donator.blood}}{{donator.antigen}}</div>
         <div class="col-sm-3 row-style">{{donator.last_donate}}</div>
         <div class="col-sm-3 row-style">{{donator.city}}</div>
     </div>
</div>
