.button-add{
    padding:10px;
    text-align: center;
    background-color: #474544;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
    color:white;
    cursor: pointer;
    transition: 0.3s;
    width:180px;
    margin: 2px;
}

.head-style{
    font-size: 34px;
    padding-left:10px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: solid rgb(71,69,68, 0.1);
    margin-bottom:4px;
}

.add-box{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.ng{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 10px;
    margin:2px;
    padding:5px;
    width:80%;
}

.headOfCol{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.alert{
    color:red;
    text-align: center;
    font-size:12px;
    letter-spacing: 2px;
    padding-bottom: 0px;
}