<div class="container" >
    <div class="row">
        <div class="col-12 col-md-6 head-style"><i class="icon-users"></i>BAZA DAWCÓW KRWI</div>
        <div class="col-12 col-md-6" (click)="addFunction()">
            <button class="float-right button-add" ><a *ngIf="addMode; else staticMode"><i class="icon-level-up"></i> Wróć </a></button>
            <ng-template #staticMode><i class="icon-user-add"></i> Dodaj dawcę </ng-template>
        </div>
    </div>
    <div class="row add-box" *ngIf="addMode">
        <div class="col-12 headOfCol">Dane personalne:</div>
        <div class="col-sm-12 col-md-6">
            <form>
                <input class="ng"
                    [(ngModel)]="donatorTemp.name"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Imię*"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.lastname"
                    id="lastname"
                    name="lastname"
                    type="text"
                    placeholder="Nazwisko*"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.id_person"
                    id="id_person"
                    name="id_person"
                    type="text"
                    placeholder="PESEL*"
                />
                <select
                    class="browser-default ng"
                    [(ngModel)]="donatorTemp.gender"
                    name="gender"
                    >
                    <option value="" disabled selected hidden>Wybierz płeć*</option>
                    <option *ngFor="let gender of genderCategories" [ngValue]="gender">{{
                    gender
                    }}</option>
                </select>  
            </form>
        </div>        
        <div class="col-sm-12 col-md-6">
            <form>
                <input class="ng"
                    [(ngModel)]="donatorTemp.address"
                    id="address"
                    name="address"
                    type="text"
                    placeholder="Adres"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.code"
                    id="code"
                    name="code"
                    type="text"
                    placeholder="Kod pocztowy"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.city"
                    id="city"
                    name="city"
                    type="text"
                    placeholder="Miasto"
                />
             </form>
        </div>
        <div class="col-12 headOfCol">Dane medyczne:</div>
        <div class="col-12 col-md-6">
            <form>
                <select
                class="browser-default ng"
                [(ngModel)]="donatorTemp.blood"
                name="blood"
                required
                >
                <option value="" disabled selected hidden>Wybierz grupę krwi*</option>
                <option *ngFor="let blood of bloodCategories" [ngValue]="blood">{{
                  blood
                }}</option>
              </select>               
                <select
                class="ng"
                [(ngModel)]="donatorTemp.antigen"
                name="antigen"
                required
                >
                <option value="" disabled selected hidden>Wybierz antygen*</option>
                <option *ngFor="let antigen of antigenCategories" [ngValue]="antigen">{{
                  antigen
                }}</option>
              </select>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <form>
                <form>
                    <div class="form-inline">
                        <input class="ng" style="width:200px"
                              name="dp" [(ngModel)]="datePickerValue" placeholder="Data ostatniego pobrania*" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <i class="icon-calendar"  (click)="d.toggle()" type="button"></i>
                        </div>
                    </div>
                </form>
                
                
                <input class="ng"
                    [(ngModel)]="donatorTemp.about"
                    id="about"
                    name="about"
                    type="text"
                    placeholder="Uwagi"                />
                </form>
        </div>
        <div class="col-12 headOfCol">
            Dane kontaktowe:
        </div>
        <div class="col-12 col-md-6">
            <form>
                <input class="ng"                    
                    [(ngModel)]="donatorTemp.phone"
                    id="phone"
                    name="phone"
                    type="text"
                    placeholder="Telefon*"
                />
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <form>
                <input class="ng"
                    [(ngModel)]="donatorTemp.email"                    
                    id="email"
                    name="email"
                    type="text"
                    placeholder="Email*"
                />
            </form>
        </div>
        <div *ngIf="errorBox" class="alert col-sm-12">
            {{alert}}
        </div>
        <div class="col-12 headOfCol">
            <span type="button"  (click)="cancel()" class="button-edit" style="width:120px;"><i class="icon-cancel-1"></i> Anuluj</span>
            <span type="button"  (click)="save()" class="button-edit" style="width:120px;"><i class="icon-exchange"></i> Zapisz</span>
        </div>
    </div>
</div>