<div class="container">
    <div class="row">
        <div class="col-12">
            <app-new-donator
            (refresh)="refresh($event)"
            ></app-new-donator>
        </div>
    </div>
        
    <div class="row" *ngFor="let donator of donatorStream$.reverse()">
        <div class="col-12">
            <app-donator-container
            (refresh)="refresh($event)"
            [donator]="donator">
            </app-donator-container>
        </div>
    </div>
</div>
    