.container{
    background-color: rgb(255,247,245);
    color: #474544;
    letter-spacing:1px;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 15px;
}

.row{
    margin:10px;
}