.container{
    background-color: rgb(255,247,245);
    color: #474544;
    letter-spacing:1px;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom:20px;
}

.row{
    margin:10px;
}

.head-style{
    font-size: 34px;
    padding-left:10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-bottom: solid rgb(71,69,68, 0.1);
    margin-bottom:4px;
    margin-left: 10px;
}

.head-style-smaller{
    font-size: 24px;
    padding:10px;
    font-weight: 500;
    letter-spacing: 1px;
    margin:16px;
    margin-bottom: 5px;
}

.ng{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 10px;
    margin:6px;
    padding:5px;
    width:80%;
}

.matching-box{
    border:solid 2px rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 30px;
}

.info-style{
    padding-left:10px;
    padding-top:10px;
    font-size: 8px;
    margin-left: 10px;
}

.row-style{
    font-size:10px;
    font-weight: 500;
    padding-bottom: 5px;
}

.specialBox{
    border-bottom:solid rgba(54, 53, 53, 0.1);
}