<div class="container">
    <div class="row matching-box">
        <div class="col-sm-12 head-style">
            <i class="icon-address-card"></i> Profil biorcy
        </div>
        <div class="col-sm-6 col-md-3">
            <form>
                <select
                    class="browser-default ng"
                    [(ngModel)]="matchingValues.blood"
                    name="blood"
                    required
                    >
                    <option value="" disabled selected hidden>Wybierz grupę krwi</option>
                    <option *ngFor="let blood of bloodCategories" [ngValue]="blood">{{
                    blood
                    }}</option>
                </select>       
                <span type="button"  (click)="clear_blood()"><i class="icon-cancel"></i></span>       
            </form>
            
        </div>
        <div class="col-sm-6 col-md-3">
            <form>
                <select
                    class="ng"
                    [(ngModel)]="matchingValues.antigen"
                    name="antigen"
                    required
                    >
                    <option value="" disabled selected hidden>Wybierz antygen</option>
                    <option *ngFor="let antigen of antigenCategories" [ngValue]="antigen">{{
                    antigen
                    }}</option>
                </select>
                <span type="button"  (click)="clear_antigen()"><i class="icon-cancel"></i></span>
            </form>
        </div>
        <div class="col-sm-6 col-md-3">
            <button class="button-edit" (click)="matchingFunction()" style="width:120px;"><i class="icon-search"></i> Dopasuj</button>
        </div>
        <div class="col-sm-12 info-style">*Wyniki dopasowania należy skonsultować z lekarzem.</div>
    </div>

    <div class="row">
        <div class="col-sm-12 head-style-smaller" *ngIf="!matchingMode"><i class="icon-users"></i>BAZA DAWCÓW KRWI</div>
        <div class="col-sm-12 head-style-smaller" *ngIf="matchingMode"><i class="icon-users"></i>BAZA DOPASOWANYCH DAWCÓW KRWI</div>
        <div class="col-3 row-style" style="padding-left: 25px;" *ngIf="!mobile">Imię i nazwisko</div>
        <div class="col-3 row-style" *ngIf="!mobile">Krew</div>
        <div class="col-3 row-style" style="padding-left: 5px;" *ngIf="!mobile">Ostatnie pobranie</div>
        <div class="col-3 row-style" style="padding-left: 0px;" *ngIf="!mobile">Miasto</div>
        <div class="col-sm-12 specialBox" *ngFor="let donator of filteredDonors">
            <div>
                <app-donor-row
                [donator]="donator">
                </app-donor-row>
            </div>
        </div>
    </div>  
        
</div>
