<div class="container box">
    <div class="row">
        <div class="col-sm-12 headerMonth">Wykresy pobrań krwi w ciągu ostatnich trzech miesięcy</div>
       
        <div class="col-sm-12 col-md-4 boxCharts">
            <div class="headMonth">{{listMonth[checkMonthThree()]}}</div>
            <app-three-month-ago-chart></app-three-month-ago-chart>
        </div>
        <div class="col-sm-12 col-md-4 boxCharts">
            <div class="headMonth">{{listMonth[checkMonthTwo()]}}</div>
            <app-two-month-ago-chart></app-two-month-ago-chart>
        </div>
        <div class="col-sm-12 col-md-4 boxCharts">
            <div class="headMonth">{{listMonth[checkMonthOne()]}}</div>
            <app-month-ago-chart></app-month-ago-chart>
        </div>


        <div class="col-sm-12 col-md-6 boxPie">
            <div class="headerMonth">Porównanie liczby mężczyzn z liczbą kobiet w bazie</div>
            <app-gender-pie></app-gender-pie>
        </div>
        <div class="col-sm-12 col-md-6 boxPie">
            <div class="headerMonth">Zależność liczby dawców od grupy krwi</div>
            <app-donors-blood-pie></app-donors-blood-pie>
        </div>

        <div class="col-sm-12 col-md-6 boxCharts">
            <div class="headerMonth">Liczba pobrań w ciągu ostatnich trzech miesięcy od płci</div>
            <app-gender-donate-chart></app-gender-donate-chart>
        </div>
        <div class="col-sm-12 col-md-6 boxCharts">
            <div class="headerMonth">Liczba pobrań danej grupy krwi dla ostatnich trzech miesięcy</div>
            <app-gender-group-chart></app-gender-group-chart>
        </div>

        <div class="col-sm-12 boxChart">
            <div class="headerMonth">Zależność liczby dawców od grupy krwi - wykres słupkowy</div>
            <app-donors-blood-chart></app-donors-blood-chart>
        </div>
    </div>
</div>
