.headMonth{
    font-size: 16px;
    color: #474544;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

.headerMonth{
    font-size: 20px;
    font-weight: 500;
    color: #474544;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.box{
    background-color: rgb(255,247,245);
    color: #474544;
    letter-spacing:1px;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 25px;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom:5px;
}

.boxPie{
    padding-left:100px;
    padding-right:100px;
    padding-top: 25px;
}

.boxChart{
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.boxCharts{
    padding-top: 25px;
}