<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container navbar-custom">
      <a href="/" class="navbar-brand d-flex mr-auto"><img src="assets/img/logo-source.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3" (click)="isCollapsed = !isCollapsed" [attr.aria-expended]="!isCollapsed" aria-controls="collapseExample" >
          <i class="icon-menu"></i>
        </button>
      <div class="navbar-collapse collapse" id="collapseExample " [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLink="/start-page" routerLinkActive="active">
              <a class="nav-link">Start<i class="icon-home img-fontello"></i></a>
          </li>
          <li class="nav-item" routerLink="/matching-page" routerLinkActive="active">
            <a class="nav-link">Dopasowanie <i class="icon-search"></i></a>
            </li>
            <li class="nav-item" routerLink="/donators-page" routerLinkActive="active">
                <a class="nav-link">Baza dawców <i class="icon-users"></i></a>
            </li>
            <li class="nav-item" routerLink="/analysis-page" routerLinkActive="active">
                <a class="nav-link">Analiza <i class="icon-chart-area"></i></a>
            </li>
          </ul>
      </div>
    </div>
  </nav>