.navbar-brand img{
    width: 120px;
    height:120px;
}

.navbar-custom{
    background-color: rgb(255,247,245);
    color: #474544;
    letter-spacing:1px;
    border:solid rgb(71,69,68, 0.1);
    margin:15px;
    border-radius: 25px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item{
    display: block;
    margin-right: 20px;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 20px;
    text-align:center;
    width:auto;
    margin:2px;
    transition: 0.5s;
}

.nav-item a {
    text-decoration: none;
    text-align: left;
    color: #474544;
    padding:15px;
    font-size: 14px;
}

.nav-item:hover {
    background-color: #615f5f;
    cursor: pointer;
}

.active {
    background-color: #615f5f;
    opacity: 80%;
}

.navbar-toggler{
    border:solid #b4b3b3;
    border-radius: 10px;
    background-color: rgb(255,247,245);
    color: #b4b3b3;
}

.nav-link {
    align-items: center;
}
