<div class="container-lg">
    <div class="row donator-box">
        <div class="col-sm-12 name-style"  *ngIf="getGender(donator.gender); else elseBlock">
            <a><i class="icon-user-female"></i>{{donator.name | uppercase}} {{donator.lastname | uppercase}}</a>
        </div>
        <ng-template #elseBlock>
            <div class="col-sm-12 name-style">
                <a><i class="icon-user-male"></i>{{donator.name | uppercase}} {{donator.lastname | uppercase}}</a>
            </div>
        </ng-template>

        <div class="col-12 buttonBox"> 
            <button (click)="switchMoreMode()" [disabled]="editMode" type="button" class="button-edit" style="width:120px;"><a *ngIf="moreMode && !editMode; else lessModeButton"><i class="icon-level-up"></i> Wróć </a></button>
            <ng-template #lessModeButton><i class="icon-eye"></i> Więcej </ng-template>
            <button
                [disabled]="editMode"
                class="button-edit"
                type="button"
                style="width:120px;"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage + ' ' + donator.name + ' ' + donator.lastname+'?'"
                [cancelText]="'Odrzuć'"
                [confirmText]="'Potwierdź'"
                placement="right"
                (confirm)="delete()"
                >
                <i class="icon-trash"></i>Usuń dawcę
            </button>
            <span type="button"  class="button-edit" (click)="switchEditMode()" style="width:120px;" *ngIf="moreMode && editMode==false"><i class="icon-pencil"></i>Edytuj dawcę</span>
            <span type="button"  (click)="cancel()" *ngIf="editMode" class="button-edit" style="width:120px;"><i class="icon-cancel-1"></i> Anuluj</span>
            <span type="button"  (click)="save()" *ngIf="editMode" class="button-edit" style="width:120px;"><i class="icon-exchange"></i> Zapisz</span>
        </div>
        
        <ng-template #lessMode>
            <div class="col-6 col-sm-6 col-md-3 data-box">
                <div>Krew: </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight">
                <div><i class="icon-droplet"></i> {{donator.blood}} {{donator.antigen}}</div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 data-box">
                <div>Ostatnie pobranie: </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight" *ngIf="calculateDiff(donator.last_donate); else elseStyle">{{donator.last_donate}}</div>
                <ng-template #elseStyle>
                    <div class="alertStyle col-6 col-sm-6 col-md-3 data-box data-box-weight" (mouseover)='over()' (mouseout)='out()'>
                        {{donator.last_donate}}!
                        <span  class="alertBox" *ngIf="inBox">
                            Regeneracja dawcy
                        </span>
                    </div>
                </ng-template>
        </ng-template>

        <div class="col-6 col-sm-6 col-md-3 data-box" *ngIf="moreMode && !editMode; else lessMode">
            <div>Grupa krwi: </div>
            <div>Antygen: </div>
            <div>Ostatnie pobranie: </div>
            <div>Uwagi: </div>
            <div class="contactStyle">Numer telefonu: </div>
            <div>Adres email: </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 data-box" *ngIf="editMode">
            <div class="editDataBox">Ostatnie pobranie: </div>
            <div class="editDataBox">Uwagi: </div>
            <div class="editDataBox">Numer telefonu: </div>
            <div class="editDataBox">Email: </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight" *ngIf="moreMode && !editMode">
            <div>{{donator.blood}}</div>
            <div>{{donator.antigen}}</div>
            <div  *ngIf="calculateDiff(donator.last_donate); else elseStyle">{{donator.last_donate}}</div>
            <ng-template #elseStyle>
                <div class="alertStyle" (mouseover)='over()' (mouseout)='out()'>
                    {{donator.last_donate}}!
                    <span  class="alertBox" *ngIf="inBox">
                        Regeneracja dawcy
                    </span>
                </div>
            </ng-template>
            <div>{{donator.about}}</div>
            <div class="contactStyle">{{donator.phone}}</div>
            <div>{{donator.email}}</div>
        </div>

        

        <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight" *ngIf="editMode" >
            <form>
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="ng" style="width:100px;"
                              name="dp" [(ngModel)]="datePickerValue" [placeholder]="duplicate.last_donate" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <i class="icon-calendar"  (click)="d.toggle()" type="button"></i>
                        </div>
                      </div>
                    </div>
                  </form>
            
                <input class="ng"
                    [(ngModel)]="donatorTemp.about"
                    id="about"
                    name="about"
                    type="text"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.phone"
                    id="phone"
                    name="phone"
                    type="text"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.email"
                    id="email"
                    name="email"
                    type="text"
                />
             </form>
        </div>

        <div class="col-6 col-sm-6 col-md-3 data-box" *ngIf="moreMode && !editMode">
            <div>PESEL: </div>
            <div>Adres: </div>
            <div>Kod pocztowy</div>
            <div>Miasto</div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 data-box" *ngIf="editMode">
            <div class="editDataBox">PESEL: </div>
            <div class="editDataBox">Adres: </div>
            <div class="editDataBox">Kod pocztowy: </div>
            <div class="editDataBox">Miasto: </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight" *ngIf="moreMode && !editMode">
            <div>{{donator.id_person}}</div>
            <div>{{donator.address}}</div>
            <div>{{donator.code}}</div>
            <div>{{donator.city}}</div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 data-box data-box-weight" *ngIf="editMode">
            <form>
                <input class="ng"
                    [(ngModel)]="donatorTemp.id_person"
                    id="id_person"
                    name="id_person"
                    type="text"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.address"
                    id="address"
                    name="address"
                    type="text"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.code"
                    id="code"
                    name="code"
                    type="text"
                />
                <input class="ng"
                    [(ngModel)]="donatorTemp.city"
                    id="city"
                    name="city"
                    type="text"
                />
             </form>
        </div>
        <div *ngIf="errorBox" class="alert col-12">
            {{alert}}
        </div>
    </div>
</div>


