.name-style{
    color: #353332;
    letter-spacing:2px;
    font-size: 26px;
    padding:10px;
    margin-top:10px;
    font-weight: 500;
}

.buttonBox{
    border-bottom:dotted rgb(71,69,68, 0.1);
    padding-bottom: 5px;
}

.donator-box{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 20px;
    margin-bottom: 10px;
}

.data-box{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}

.data-box-weight{
    font-weight: 500;
}

.alertStyle{
    color:red;
}

.alertStyle:hover{
    cursor: pointer;
}

.alertBox{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size:8px;
    padding:5px;
}

.button-edit{
    padding:5px;
    text-align: center;
    background-color: #474544;
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    color:white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}

button:disabled,
button[disabled]{
  border: 1px solid rgba(104, 100, 98, 0.1);
  background-color: #6d6a69;
  color: #e7e7e7;
  transition: 0.3s;
  cursor: default;
}

.ng{
    border:solid rgb(71,69,68, 0.1);
    border-radius: 10px;
    font-size: 10px;
    margin:2px;
    padding:5px;
}

.editDataBox{
    margin-top: 10px;
    margin-bottom: 17px;
}

.contactStyle{
    margin-top: 15px;
}

.icon-calendar{
    font-size: 20px;
}


.alert{
    color:red;
    text-align: center;
    font-size:12px;
    letter-spacing: 2px;
}